<h1>{{t 'header.character-creation.title'}}</h1>

<div class="row">

  <div id="new_char_gender" class="col-xs-12 col-md-6 col-md-push-3">

    <div class="row gender_title">
      <div class="col-xs-6 align-top"><h2>{{t "character.gender.female.name" }}</h2></div>
      <div class="col-xs-6 align-top"><h2>{{t "character.gender.male.name" }}</h2></div>
    </div>

    <div class="row gender_imgs">
      <div {{bind-attr class=":col-xs-6 :align-top :new_char_gender :female model.isFemale:active"}} onclick="set_gender_active('female');">
        <img id="new_char_female_img" {{bind-attr src=model.newFemaleCharURL}} />
      </div>

      <div {{bind-attr class=":col-xs-6 :align-top :new_char_gender :male model.isMale:active"}} onclick="set_gender_active('male');">
        <img id="new_char_male_img" {{bind-attr src=model.newMaleCharURL}} />
      </div>
    </div>

    <div id="customize-button" class="row only-larger-than-xs">
      <button onclick="hasher.setHash('section/characters/customize');">{{t "customize" }}</button>
    </div>

  </div>

  <div id="new_char_race" class="col-xs-12 col-md-3 col-md-pull-6 align-top race_select">
    <h2>{{t 'character.race.name'}}</h2>
    <hr />
    <div {{bind-attr class=":item model.isHuman:active"}} onclick="set_race_active('human');">{{t 'character.race.human.name'}}</div>
    <div {{bind-attr class=":item model.isElf:active"}} onclick="set_race_active('elf');">{{t 'character.race.elf.name'}}</div>
    <div {{bind-attr class=":item model.isDwarf:active"}} onclick="set_race_active('dwarf');">{{t 'character.race.dwarf.name'}}</div>
    <div {{bind-attr class=":item model.isFairy:active"}} onclick="set_race_active('fairy');">{{t 'character.race.fairy.name'}}</div>
    <div class="info_text race">
      {{#if model.isHuman}}
        <div {{translateAttr title='character.attributes.strength.description' }}>
          + 1 {{t 'character.attributes.strength.name' }}
        </div>
        <div {{translateAttr title='character.attributes.dexterity.description' }}>
          + 1 {{t "character.attributes.dexterity.name" }}
        </div>
        <div {{translateAttr title='character.attributes.endurance.description' }}>
          + 2 {{t "character.attributes.endurance.name" }}
        </div>
        <br />
        {{t 'character.race.human.description'}}
      {{/if}}
      {{#if model.isElf}}
        <div {{translateAttr title='character.attributes.wisdom.description' }}>
          + 1 {{t "character.attributes.wisdom.name" }}
        </div>
        <div {{translateAttr title='character.attributes.dexterity.description' }}>
          + 2 {{t "character.attributes.dexterity.name" }}
        </div>
        <div {{translateAttr title='character.attributes.endurance.description' }}>
          + 1 {{t "character.attributes.endurance.name" }}
        </div>
        <br />
        {{t 'character.race.elf.description'}}
      {{/if}}
      {{#if model.isDwarf}}
        <div {{translateAttr title='character.attributes.strength.description' }}>
          + 2 {{t "character.attributes.strength.name" }}
        </div>
        <div {{translateAttr title='character.attributes.defense.description' }}>
          + 2 {{t "character.attributes.defense.name" }}
        </div>
        <br />
        {{t 'character.race.dwarf.description'}}
      {{/if}}
      {{#if model.isFairy}}
        <div {{translateAttr title='character.attributes.wisdom.description' }}>
          + 2 {{t "character.attributes.wisdom.name" }}
        </div>
        <div {{translateAttr title='character.attributes.willpower.description' }}>
          + 2 {{t "character.attributes.willpower.name" }}
        </div>
        <br />
        {{t 'character.race.fairy.description'}}
      {{/if}}
    </div>
  </div>

  {{!-- <div id="new_char_class" class="column col-xs-12 col-md-4 align-top class_select">
    <h2>{{t "character.class.name" }}</h2>
    <hr />
    <div class="item mage {{#if-equal char_class 'mage'}}active{{/if-equal}}" onclick="set_class_active('mage');">{{t "character.class.mage.name" }}</div>
    <div class="item warrior {{#if-equal char_class 'warrior'}}active{{/if-equal}}" onclick="set_class_active('warrior');">{{t "character.class.warrior.name" }}</div>
    <div class="item priest {{#if-equal char_class 'priest'}}active{{/if-equal}}" onclick="set_class_active('priest');">{{t "character.class.priest.name" }}</div>
    <div class="item hunter {{#if-equal char_class 'hunter'}}active{{/if-equal}}" onclick="set_class_active('hunter');">{{t "character.class.hunter.name" }}</div>
    <div class="info_text class">
      {{#if-equal char_class 'mage'}}

        <div title="{{t "character.attributes.willpower.description" }} {{t "character.attributes.concentration.description" }}">
          + 3 {{t "character.attributes.willpower.name" }}
        </div>
        <div title="{{t "character.attributes.wisdom.description" }}">
          + 2 {{t "character.attributes.wisdom.name" }}
        </div>
        <div class="align-left" title="{{t "character.attributes.concentration.description" }}">
          + 5% {{t "character.attributes.concentration.recovery_rate" }}
        </div>

        <br/>

        {{t "character.class.mage.description" }}

        <br/><br/>

        {{t "character.class.specialization.possible_specializations_are" }}

        <ul>
          <li>{{t "character.class.mage.specializations.elementalist.name" }}</li>
          <li>{{t "character.class.mage.specializations.summoner.name" }}</li>
          <li>{{t "character.class.mage.specializations.illusionist.name" }}</li>
        </ul>
      {{/if-equal}}
      {{#if-equal char_class 'warrior'}}

        <div title="{{t "character.attributes.strength.description" }}">
          + 3 {{t "character.attributes.strength.name" }}
        </div>
        <div title="{{t "character.attributes.defense.description" }}">
          + 2 {{t "character.attributes.defense.name" }}
        </div>
        <div title="{{t "character.attributes.health.description" }}">
          + 5% {{t "character.attributes.health.recovery_rate" }}
        </div>

        <br/>

        {{t "character.class.warrior.description" }}

        <br/><br/>

        {{t "character.class.specialization.possible_specializations_are" }}

        <ul>
          <li>{{t "character.class.warrior.specializations.attacker.name" }}</li>
          <li>{{t "character.class.warrior.specializations.defender.name" }}</li>
          <li>{{t "character.class.warrior.specializations.all-rounder.name" }}</li>
        </ul>

      {{/if-equal}}
      {{#if-equal char_class 'priest'}}

        <div title="{{t "character.attributes.willpower.description" }} {{t "character.attributes.concentration.description" }}">
          + 3 {{t "character.attributes.willpower.name" }}
        </div>
        <div title="{{t "character.attributes.wisdom.description" }}">
          + 2 {{t "character.attributes.wisdom.name" }}
        </div>
        <div title="{{t "character.attributes.concentration.description" }}">
          + 5% {{t "character.attributes.concentration.recovery_rate" }}
        </div>

        <br/>

        {{t "character.class.priest.description" }}

        <br/><br/>

        {{t "character.class.specialization.possible_specializations_are" }}

        <ul>
          <li>{{t "character.class.priest.specializations.bard_siren.name" }}</li>
          <li>{{t "character.class.priest.specializations.medicus.name" }}</li>
          <li>{{t "character.class.priest.specializations.curse_caster.name" }}</li>
        </ul>

      {{/if-equal}}
      {{#if-equal char_class 'hunter'}}

        <div title="{{t "character.attributes.strength.description" }}">
          + 2 {{t "character.attributes.strength.name" }}
        </div>
        <div title="{{t "character.attributes.dexterity.description" }}">
          + 1 {{t "character.attributes.dexterity.name" }}
        </div>
        <div title="{{t "character.attributes.endurance.description" }}">
          + 2 {{t "character.attributes.endurance.name" }}
        </div>
        <div title="{{t "character.attributes.concentration.description" }}">
          + 5% {{t "character.attributes.concentration.recovery_rate" }}
        </div>

        <br/>

        {{t "character.class.hunter.description" }}

        <br/><br/>

        {{t "character.class.specialization.possible_specializations_are" }}

        <ul>
          <li>{{t "character.class.hunter.specializations.beastmaster.name" }}</li>
          <li>{{t "character.class.hunter.specializations.nightshade.name" }}</li>
          <li>{{t "character.class.hunter.specializations.trapper.name" }}</li>
        </ul>

      {{/if-equal}}
    </div>

  </div> --}}

</div>
